{% from 'macros.html' import flash %}
{{ flash() }}
{#
	This page shows the blacklist
#}
<script>
	function addToBlacklist() {
		phrase = $('input#blacklistadd').val();
		if (phrase == '')
			return false;
		$.post("{{ url_for('blacklist') }}",
			{ action: "ban", phrase: phrase },
			function (result) {
				if (result == "success") {
					var row = '<tr>\n\t<td id="phrase"></td>\n\t<td>'
						+ '\n\t\t<button class="btn btn-danger" type="button" onclick="removeFromBlacklist(this);">'
						+ '\n\t\t\t<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'
						+ '\n\t\t\t<span class="sr-only">Remove</span>'
						+ '\n\t\t</button>\n\t</td>\n</tr>';
					$('#blacklist').append(row);
					$('#blacklist').children().last().find('#phrase').html(document.createTextNode(phrase));
					$('input#blacklistadd').val('');
				}
				else
					flash(result, 'danger');
			});
	}
	function removeFromBlacklist(btnObject) {
		var row = $(btnObject).parent().parent();
		phrase = row.find('#phrase').text();
		$.post("{{ url_for('blacklist') }}",
			{ action: "unban", phrase: phrase },
			function (result) {
				if (result == "success") {
					row.remove();
				}
				else
					flash(result, 'danger');
			});

	}
	function checkAllMessages() {
		$.post("{{ url_for('blacklist') }}",
			{ action: "checkall" },
			function (result) {
				flash(result, 'warning');
			});
	}
</script>
<form class="panel" onsubmit="addToBlacklist(); return false;">
	<div class="input-group">
		<input type="text" class="form-control" id="blacklistadd" placeholder="Ban Phrase" />
		<a class="input-group-addon btn btn-success" onclick="addToBlacklist();">Add to Blacklist</a>
	</div>
</form>

<table class="table table-hover">
	<thead>
		<tr>
			<td width="99%;">Phrase</td>
			<td>Remove</td>
		</tr>
	</thead>
	<tbody id="blacklist">
		{% for bl in content.data.blacklist %}
		<tr>
			<td id="phrase">{{ bl.text }}</td>
			<td>
				<button class="btn btn-danger" type="button" onclick="removeFromBlacklist(this);">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					<span class="sr-only">Remove</span>
				</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<br />
<button class="btn btn-warning pull-right" type="button" onclick="checkAllMessages();">Recheck all messages</button>
<br />
<br />