{% from 'macros.html' import flash %}
{{ flash() }}
{#
	This page manages email forwarding
#}
<script>
	function removeForward(obj) {
		var row = $(obj).parent().parent();
		$.post("{{ url_for('forwarding') }}",
			{ action: "remove", email: row.children("#email").html() },
			function (data) {
				if (data.result == "success") {
					row.remove();
				}
				else
					flash(data.result, 'danger');
			});
	}
	function editForward(email, type) {
		$("input#forwardEmail").val(email);
		$("select#forwardType").val(type);
	}
</script>
<form class="panel" method="post">
	<div class="row">
		<div class="col-xs-12 col-sm-5 col-lg-6">
			<input type="email" class="form-control" id="forwardEmail" placeholder="Email" name="email" />
		</div>
		<div class="col-xs-8 col-sm-4 col-lg-4">
			<select class="form-control" id="forwardType" name="type">
				<option value="0">Forward all messages</option>
				<option value="1">Alert unread messages</option>
				<option value="2">Alert once if unread messages</option>
			</select>
		</div>
		<div class="col-xs-4 col-sm-3 col-lg-2 text-right">
			<button class="btn btn-success" type="submit">Add Forwarding</button>
		</div>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<td>Email</td>
			<td>Forwarding type</td>
			<td class="text-right">Change&nbsp;&nbsp;Remove</td>
		</tr>
	</thead>
	<tbody id="list">
		{% for email, type in content.data.forwardlist %}
		<tr>
			<td id="email">{{ email }}</td>
			<td id="type" style="white-space: nowrap;">
				{% if type == 0 %} Forward all messages
				{% elif type == 1 %}Alert unread messages
				{% elif type == 2 %}Alert once if unread messages
				{% else %}No forwarding
				{% endif %}
			</td>
			<td  class="text-right">
				<button class="btn btn-warning" type="button" onclick="editForward('{{ email }}', {{ type }});">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					<span class="sr-only">Change</span>
				</button>&nbsp;&nbsp;&nbsp;
				<button class="btn btn-danger" type="button" onclick="removeForward(this);">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					<span class="sr-only">Remove</span>
				</button>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>