{% from 'macros.html' import flash %}
{{ flash() }}
<script>
	function CreatePage() {
		var path = $('#create #path').val()
		var edited = false;
		var len = path.length;
		if (path.charAt(0) == '/') {
			path = path.slice(1, len);
			edited = true;
		}
		if (path.charAt(len - 1) == '/') {
			path = path.slice(0, len - 1);
			edited = true;
		}
		if (edited) {
			$('#create #path').val(path)
		}

		$.post('{{ url_for("pages_create") }}',
			{ page: path, action: "check", path: path },
			function (data) {
				if (data.result == 'exists') {
					flash('Page already exists', 'danger');
				} else {
					flash("Page at '" + path + "' created", "success");
					window.location.href = '{{ url_for("pages_edit") }}?page=' + path;
				}
			});
		return false;
	}
</script>
<form name="create" id="create" class="panel" onsubmit="return CreatePage();">
	<div class="input-group">
		<span class="input-group-addon">Create a new Page:</span>
		<input type="text" name="path" id="path" required class="form-control" placeholder="New Page Path" />
		<span class="input-group-btn"><button type="submit" class="btn btn-info">Create</button></span>
	</div>
</form>