{% from 'admin/pages/macros.html' import toolbar, ajax_functions %}
{{ ajax_functions(true) }}
<script>
	function deleteSuccess(path) {
		window.location.href = '/admin/pages/';
	}
	function moveSuccess(oldpath, newpath) {
		window.history.replaceState(null, 'Edit Page: \'' + newpath + '\'', '{{ url_for("pages_edit") }}?page=' + newpath);
		$('#content h2')[0].html('Edit Page: \''+newpath+'\'')
	}
	function copySuccess(oldpath, newpath) {
		window.location.href = '{{ url_for("pages_edit") }}?page=' + newpath;
	}
	function priorityToggle(radio) {
		if ($(radio).val() == 'featured')
			$('#priority_container').slideDown(200);
		else
			$('#priority_container').slideUp(200);
	}
</script>

{% from 'macros.html' import file_selector %}
{{ file_selector() }}

<div class="text-center panel">
	<h3>Toolbar</h3>
	{{ toolbar(request.args.get('page'), false) }}
	<div class="text-danger">
		Save the page before using the toolbar
	</div>
</div>
<div class="panel" id="status">
	<h3>Status</h3>
	<div class="radio">
		<label>
			<input type="radio" name="status" value="normal" onchange="priorityToggle(this);" {% if not content.data.private and not content.data.featured %} checked{% endif %} />
			<strong>Normal Page</strong>
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="status" value="featured" onchange="priorityToggle(this);" {% if content.data.featured %} checked{% endif %} />
			<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&ensp;Featured Page
			<span {% if not content.data.featured %} hidden{% endif %} id="priority_container">
				<input type="number" class="form-control" aria-label="Priority" placeholder="Priority" autocomplete="off" id="priority" name="priority" {% if content.data.priority %}value="{{ content.data.priority }}" {% endif %} />
			</span>
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="status" value="private" onchange="priorityToggle(this);" {% if content.data.private %} checked{% endif %} />
			<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&ensp;Private Page
		</label>
	</div>
</div>
<div class="text-center panel">
	<h3>Blurb</h3>
	<img onclick="file_selector(function (src) { $('#page_thumbnail').attr('src', src); }, true);" class="btn btn-default img-responsive img-rounded" {% if content.data.thumbnail %}src="{{ content.data.thumbnail }}" {% endif %}alt="Thumbnail" id="page_thumbnail" />
	<textarea class="form-control" id="description" placeholder="Page Description">{% if content.data.description %}{{ content.data.description }}{% endif %}</textarea>
</div>