{#
	This file handles the editing of projects
#}
{% require 'admin/utils/file_selector.html' %}
{% require 'admin/utils/rich_text.html' %}
{% from 'admin/utils/rich_text.html' import rich_text, rich_text_insert %}
<script>
	function project_images_add(button) {
		file_selector(function (src) {
			if(src != "")
				$(button).parent().before('<img src="' + src + '" class="img-responsive img-rounded" draggable="true" ondragstart="project_images_drag(event, this);" ondrop="project_images_drop(event, this);" ondragover="event.preventDefault()" />');
		}, true);
	}
	function project_images_drag(event, image) {
		$('#project_images_drag').attr('id', '')
		$(image).attr('id', 'project_images_drag')
		$('#project_images_remove').show();
	}
	function project_images_drop(event, target) {
		event.preventDefault();
		var from = $('#project_images_drag');
		from.attr('id', '')
		var to = $(target);
		var src = from.attr('src');
		from.attr('src', to.attr('src'));
		to.attr('src', src);
		$('#project_images_remove').hide();
	}
	function project_images_remove(event) {
		event.preventDefault();
		$('#project_images_drag').remove();
		$('#project_images_remove').hide();
	}
	function project_save(event) {
		event.preventDefault();

		var title = $("#title").val();
		var text = CKEDITOR.instances['rich-text'].getData();
		var images = $("#images").children("img").map(function () { return $(this).attr("src"); }).get();

		var link_titles = $("#links").children().children("#link_title").map(function () { return $(this).val(); }).get();
		var link_targets = $("#links").children().children("#link_target").map(function () { return $(this).val(); }).get();

		var featured = $("#status_featured").prop("checked");
		var priority = $("#priority").val();

		var tags = $("#tags").val();
		var thumbnail = $("#thumbnail").attr("src");
		if (thumbnail == undefined || thumbnail == 'undefined')
			thumbnail = '';
		var description = $("#description").val();

		$.post(window.location,
			{ action: "save", title: title, text: text, images: images, tags: tags, featured: featured, priority: priority, thumbnail: thumbnail, description: description, link_titles: link_titles, link_targets: link_targets },
			function (result) {
				if (result.messages == undefined || result.messages == 'undefined' || result.messages == null) {
					flash("Project could not be saved:<br />"+result, "danger")
				} else {
					for (var i = 0; i < result.messages.length; i++) {
						flash(result.messages[i][1], result.messages[i][0]);
					}
				}
			});
	}
	function add_link(jq) {
		jq.after('<div class="form-inline" style="margin-bottom:3px;">\n'
			+ '<input type="text" class="form-control" placeholder="Title" name="link_title" id="link_title" aria-label="Title" title="Link Title" />\n'
			+ '<input type="text" class="form-control" placeholder="Target" name="link_target" id="link_target" aria-label="URL" title="Link Target" />\n'
			+ '<button type="button" class="btn btn-success" onclick="add_link($(this).parent());" aria-label="Add" title="Add">+</button>\n'
			+ '<button type="button" class="btn btn-danger" onclick="remove_link(this);" aria-label="Remove" title="Remove">X</button>\n'
			+ '</div>');
		$("#project_link_add").hide();
	}
	function remove_link(button) {
		var parent = $(button).parent();
		if (parent.siblings().length < 4)
			$("#project_link_add").show();
		parent.remove();
	}
	$(document).ready(function () {
		$('#images').tooltip()
	});
</script>
<form onsubmit="project_save(event); return false;" name="project_edit">
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">Title</span>
			<input type="text" class="form-control" name="title" id="title" placeholder="Project Title" required value="{{ content.data.name }}" />
		</div>
	</div>
	<div class="well image-scroller" data-toggle="tooltip" data-placement="bottom" title="Drag images to reorder" id="images">
			{% for img in content.data.images %}
			<img src="{{ img }}" class="img-responsive img-rounded" draggable="true" ondragstart="project_images_drag(event, this);" ondrop="project_images_drop(event, this);" ondragover="event.preventDefault()" />
			{% endfor %}
		<span style="display:inline-block;">
			<button class="btn btn-primary" type="button" onclick="project_images_add(this);">Add Image</button>
			<p class="alert alert-danger" hidden ondrop="project_images_remove(event);" ondragover="event.preventDefault()" id="project_images_remove"><big>Drag here to remove</big></p>
		</span>
	</div>
	<div class="form-group">
		<textarea class="form-control" id="rich-text" name="text" required placeholder="Project Text">{% if content.data.text %}{{ content.data.text }}{% endif %}</textarea>
		{{ rich_text('rich-text') }}
	</div>
	<div id="links">
		<span class="pull-right" style="margin-top:-10px;">{{ rich_text_insert() }}</span>
		<h3 style="text-align:left;">Links</h3>
		<button type="button" class="btn btn-primary"{% if content.data.links|length > 0 %} style="display:none;"{% endif %} id="project_link_add" onclick="add_link($(this));">Add Link</button>
		{% for item in content.data.links %}
		<div class="form-inline" style="margin-bottom:3px;">
			<input type="text" class="form-control" placeholder="Title" value="{{ item.title }}" name="link_title" id="link_title" aria-label="Title" title="Link Title" />
			<input type="text" class="form-control" placeholder="Target" value="{{ item.link }}" name="link_target" id="link_target" aria-label="URL" title="Link Target" />
			<button type="button" class="btn btn-success" onclick="add_link($(this).parent());" aria-label="Add" title="Add">+</button>
			<button type="button" class="btn btn-danger" onclick="remove_link(this);" aria-label="Remove" title="Remove">X</button>
		</div>
		{% endfor %}
	</div>
</form>