{% from 'macros.html' import flash %}
{{ flash() }}
{% from 'modules/projects/admin/macros.html' import versions %}
{{ versions() }}
<script>
	function move_project(button) {
		var proj = $(button).parent().parent().parent();
		var jpath = proj.find("#path");
		var path = jpath.text();
		var title = proj.find("#title").text();
		var url = proj.find("#edit").attr("href");
		var newpath = prompt("New path for project", path);
		if (newpath == null)
			return;
		$.post(url,
			{ action: "move", target: newpath },
			function (result) {
				if (result == 'success') {
					jpath.text(newpath);
					proj.find("a[href]").attr("href", function () {
						return this.href.substring(0, this.href.length - path - 2) + this.href.substring(this.href.length - path - 2, this.href.length).replace(path, newpath);
					});
					flash("Project '" + title + "' at '" + path + "' moved to '" + newpath + "'", "success");
				} else {
					flash("Project '" + title + "' at '" + path + "' could not be moved to '" + newpath + "':\n" + result, "danger");
				}
			});
	}
	function delete_project(button) {
		var proj = $(button).parent().parent().parent();
		var path = proj.find("#path").text();
		var title = proj.find("#title").text();
		var url = proj.find("#edit").attr("href");
		if (confirm("Delete project '"+title+"' at '" + path + "'?")) {
			$.post(url,
				{ action: "delete" },
				function (result) {
					if (result == 'success') {
						proj.remove();
						flash("Project '"+title+"' at '" + path + "' deleted", "success");
					} else {
						flash("Project '" + title + "' at '" + path + "' could not be deleted:\n" + result, "danger");
					}
				});
		}
	}
	function toggle_featured(button) {
		var top = $(button);
		var proj = top.parent().parent();
		var glyph = top.children().first()
		var sr = top.children().eq(1)
		if (glyph.hasClass('glyphicon-none')) {
			var priority;
			do {
				var pri = prompt("Featured priority for project", 10);
				if (pri == null)
					return;
				priority = parseInt(pri);
			} while (isNaN(priority));
			$.post(proj.find("#edit").attr("href"),
				{ action: "feature", priority: priority }, function (result) {
					if (result == "success") {
						glyph.removeClass('glyphicon-none');
						sr.text("Featured");
						top.attr("title", "Featured (Priority: " + priority + ")");
					} else {
						flash("Could not remove featured status from project '"+proj.find("#title").text()+"' at '"+proj.find("#path").text()+"':<br />" + result, "danger");
					}
				});
		} else {
			$.post(proj.find("#edit").attr("href"),
				{ action: "unfeature" }, function (result) {
					if (result == "success") {
						glyph.addClass('glyphicon-none');
						sr.text("Not Featured");
						top.attr("title", "Not Featured");
					} else {
						flash("Project '" + proj.find("#title").text() + "' at '" + proj.find("#path").text() + "' could not be made no longer featured:<br />" + result, "danger");
					}
				});
		}
	}
	function edit_versions(button) {
		var par = $(button).parent().parent().parent();
		versions_open(par.find('#path').text(), par.find('#title').text());
	}
</script>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Project</th>
			<th>Path</th>
			<th>Featured</th>
			<th>Tools</th>
		</tr>
	</thead>
	<tbody>
		{% for project in content.data.projects %}
		<tr>
			<td id="title">{{ project.title }}</td>
			<td id="path">{{ project.path }}</td>
			<td>				
				{% if project.featured %}
				<button class="btn btn-default" onclick="toggle_featured(this);" title="Featured (Priority: {{ project.priority }})">
					<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><span class="sr-only">Featured</span>
				</button>
				{% else %}
				<button class="btn btn-default" onclick="toggle_featured(this);" title="Not Featured">
					<span class="glyphicon glyphicon-bullhorn glyphicon-none"></span><span class="sr-only">Not Featured</span>
				</button>
				{% endif %}
			</td>
			<td>
				<div class="btn-group">
					<a target="_blank" class="btn btn-success" href="{{ url_for('project', project=project.path) }}" title="View Project Page" id="view">
						<span class="glyphicon glyphicon-play" aria-hidden="true"></span>
						<span class="sr-only">View</span>
					</a>
					<a target="_blank" href="{{ url_for('projects_edit', path=project.path) }}" class="btn btn-info" title="Edit Project" id="edit">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						<span class="sr-only">Edit</span>
					</a>
					<button type="button" class="btn btn-default" title="Edit Versions" onclick="edit_versions(this);">
						<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
						<span class="sr-only">Edit Versions</span>
					</button>
					<button type="button" class="btn btn-warning" title="Move Project" onclick="move_project(this);">
						<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
						<span class="sr-only">Move</span>
					</button>
					<button type="button" class="btn btn-danger" title="Delete Project" onclick="delete_project(this);">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						<span class="sr-only">Delete</span>
					</button>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</div><div class="panel">
{% include 'modules/projects/admin/create.html' %}
