{% from 'macros.html' import file_selector %}
{{ file_selector() }}
{% from 'admin/projects/versions.html' import versions %}
{{ versions() }}
<script>
	function priorityToggle(radio) {
		if ($(radio).val() == 'featured')
			$('#priority_container').slideDown(200);
		else
			$('#priority_container').slideUp(200);
	}
	function add_tag(tag) {
		tags = $('#tags');
		string = tags.val()
		if (string != "")
			string += ", ";
		tags.val(string + tag);
	}
</script>
<div id="status">
	<h3>Status</h3>
	<div class="radio">
		<label>
			<input type="radio" name="status" value="normal" onchange="priorityToggle(this);" {% if not content.data.featured %} checked{% endif %} />
			<strong>Normal Project</strong>
		</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="status" value="featured" onchange="priorityToggle(this);" id="status_featured" {% if content.data.featured %} checked{% endif %} />
			<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&ensp;Featured Project
			<span {% if not content.data.featured %} hidden{% endif %} id="priority_container">
				<input type="number" class="form-control" aria-label="Priority" placeholder="Priority" autocomplete="off" id="priority" name="priority" {% if content.data.priority is not none %}value="{{ content.data.priority }}" {% endif %} />
			</span>
		</label>
	</div>
	<div class="btn-group-vertical btn-block">
		<a class="btn btn-info" href="{{ url_for("projects_admin") }}">Manage Projects</a>
		<a class="btn btn-success" href="{{ url_for("project", project=content.data.path) }}">View Project</a>
	</div>
</div></div>
<div class="panel">
	<h3>Blurb</h3>
	<button type="button" class="btn btn-primary" onclick="file_selector(function (src) { $('#thumbnail').attr('src', src); }, true);">
		<img class="img-responsive img-rounded" {% if content.data.thumbnail %}src="{{ content.data.thumbnail }}" {% endif %}alt="Thumbnail" id="thumbnail" style="width:100%;" />
	</button>
	<textarea class="form-control" id="description" placeholder="Project Description">{% if content.data.description %}{{ content.data.description }}{% endif %}</textarea>
</div>
<div class="text-center panel">
	<h3>Tags</h3>
	<textarea class="form-control" id="tags" placeholder="tag1, tag2...">{% if content.data.tagged %}{{ ", ".join(content.data.tagged) }}{% endif %}</textarea>
	{% for tag in content.data.tags %}<button type="button" class="btn btn-primary" style="margin:2px;" onclick="add_tag('{{ tag }}');">{{ tag }}</button>{% endfor %}
</div>
<div class="panel text-center">
	<h3>Edit</h3>
	<button type="submit" onclick="project_save(event);" class="btn btn-info btn-lg" style="width:49%;">Save</button>
	<button type="button" class="btn btn-warning btn-lg" style="width:49%;" onclick="versions_open('{{ content.data.path }}');">Versions</button>