{#
	This file handles the editing of projects
#}
{% from 'macros.html' import rich_text, rich_text_insert, file_selector %}
{{ file_selector() }}
<script>
	function project_images_add(button) {
		file_selector(function (src) {
			if(src != "")
				$(button).parent().before('<img src="' + src + '" class="img-responsive img-rounded" draggable="true" ondragstart="project_images_drag(event, this);" ondrop="project_images_drop(event, this);" ondragover="event.preventDefault()" />');
		}, true);
	}
	function project_images_drag(event, image) {
		$('#project_images_drag').attr('id', '')
		$(image).attr('id', 'project_images_drag')
		$('#project_images_remove').show();
	}
	function project_images_drop(event, target) {
		event.preventDefault();
		var from = $('#project_images_drag');
		from.attr('id', '')
		var to = $(target);
		var src = from.attr('src');
		from.attr('src', to.attr('src'));
		to.attr('src', src);
		$('#project_images_remove').hide();
	}
	function project_images_remove(event) {
		event.preventDefault();
		$('#project_images_drag').remove();
		$('#project_images_remove').hide();
	}
	function project_save(event) {
		event.preventDefault();

		var title = $("#title").val();
		var text = CKEDITOR.instances['rich-text'].getData();
		var images = $("#images").children("img").map(function () { return $(this).attr("src"); }).get();
		var tags = $("#tags").val();
		var featured = $("#status_featured").prop("checked");
		var priority = $("#priority").val();
		var thumbnail = $("#thumbnail").attr("src");
		if (thumbnail == undefined || thumbnail == 'undefined')
			thumbnail = '';
		var description = $("#description").val();

		$.post(window.location,
			{action: "save", title: title, text: text, images: images, tags: tags, featured: featured, priority: priority, thumbnail: thumbnail, description: description },
			function (result) {
				if (result.messages == undefined || result.messages == 'undefined' || result.messages == null) {
					flash("Project could not be saved:<br />"+result, "danger")
				} else {
					for (var i = 0; i < result.messages.length; i++) {
						flash(result.messages[i][1], result.messages[i][0]);
					}
				}
			});
	}
</script>
<form onsubmit="project_save(event); return false;">
	<div class="form-group">
		<input type="text" class="form-control" name="title" id="title" placeholder="Project Title" required value="{{ content.data.name }}" />
	</div>
	<div class="well image-scroller" title="Drag images to reorder" id="images">
			{% for img in content.data.images %}
			<img src="{{ img }}" class="img-responsive img-rounded" draggable="true" ondragstart="project_images_drag(event, this);" ondrop="project_images_drop(event, this);" ondragover="event.preventDefault()" />
			{% endfor %}
		<span style="display:inline-block;">
			<button class="btn btn-primary" type="button" onclick="project_images_add(this);">Add Image</button>
			<p class="alert alert-danger" hidden ondrop="project_images_remove(event);" ondragover="event.preventDefault()" id="project_images_remove"><big>Drag here to remove</big></p>
		</span>
	</div>
	<div class="form-group">
		<textarea class="form-control" id="rich-text" name="text" required placeholder="Project Text">{% if content.data.text %}{{ content.data.text }}{% endif %}</textarea>
		{{ rich_text('rich-text') }}
	</div>	
	<span class="pull-right">{{ rich_text_insert() }}</span>
	<!-- TODO Project Links-->
	<button type="submit" class="btn btn-info btn-lg">Save</button>
	<button type="button" class="btn btn-warning btn-lg">Versions</button>
</form>