{#
	An embedded window for editing versions
#}
{% from 'macros.html' import flash %}
{{ flash() }}
<script>
	var versions = {{ content.data.versions | safe }};
	{# % for version in content.data.versions %}
	versions["{{ version }}"] = {{ content.data.versions[version] | jsonify }};
		major: {{ version.major }}, minor: {{ version.minor }}, patch: {{ version.patch }}, changelog: '{{ version.changelog }}', date: '{{ version.date }}', files: [
			{% for i in version.files %}
			{title: '{{i.title}}', url: '{{i.url}}' }{% if not loop.last %}, {% endif %}
			{% endfor %}
		]};
	{% endfor % #}

	function select_version(item) {
		var it = $(item);
		it.parent().find(".active").removeClass("active");
		it.addClass("active");
		var ver = versions[it.attr('id')];
		if(ver == null || ver == undefined || ver == 'undefined') {
			var d = new Date();
			ver = {major:'', minor:'', patch:'', changelog:'', date:d.toISOString().substring(0, 10), files:[]};
		}
		var edit = $("#version_edit");
		edit.find('#major').val(ver.major);
		edit.find('#minor').val(ver.minor);
		edit.find('#patch').val(ver.patch);
		edit.find('#changelog').val(ver.changelog);
		edit.find('#date').val(ver.date);
		var af = $("#add_file");
		af.siblings().remove();
		af.show();
		for(var i = 0; i<ver.files.length; i++) {
			version_add_file(af, ver.files[i].title, ver.files[i].url);
		}
	}
	function on_version_change() {
		var edit = $("#version_edit");
		var select = $("#version_selector");
		select.find(".active").removeClass("active");
		var ver = select.find("#ver" + edit.find("#major").val() + "_" + edit.find("#minor").val() + "_" + edit.find("#patch").val());
		if (ver.length) {
			ver.addClass("active");
		} else {
			select.children().eq(1).addClass("active");
		}
	}
	function version_add_file(jq, title, url) {
		if(!title || title == undefined) title = "";
		if(!url || url == undefined) url = "";
		jq.parent().children().first().hide();
		jq.after('<div class="form-inline" style="margin-bottom:3px;">\n'
			+ '<input type="text" value="'+title+'" class="form-control" placeholder="Title" required name="file_title" id="file_title" aria-label="Title" title="File Title" />\n'
			+ '<input type="text" value="'+url+'" class="form-control" placeholder="Target" required name="file_target" id="file_target" aria-label="URL" title="File Target" />\n'
			+ '<button type="button" class="btn btn-success" onclick="version_add_file($(this).parent());" aria-label="Add" title="Add">+</button>\n'
			+ '<button type="button" class="btn btn-danger" onclick="version_remove_file(this);" aria-label="Remove" title="Remove">X</button>\n'
			+ '</div>\n');
	}
	function version_remove_file(item) {
		var jq = $(item).parent();
		var sib = jq.siblings();
		if(sib.length == 1) {
			sib.show();
		}
		jq.remove();
	}
	function version_delete() {
		var sel = $("#version_selector .active");
		if(sel.text() == "New Version") {
			return select_version("#version_selector .active");
		}
		if(!confirm("Delete version '"+sel.text()+"'?"))
			return;
		var edit = $("#version_edit");
		$.post(document.location, 
			{action:'delete', major:edit.find('#major').val(), minor:edit.find('#minor').val(), patch:edit.find('#patch').val()}, 
			function(result) {
			if(result == 'success') {
				flash("Version '"+sel.text()+"' deleted!", "success")
				sel.siblings().eq(1).addClass('active');
				sel.remove();
			} else {
				flash("Could not delete version '"+sel.text()+"':\n<br />"+result, "danger");
			}
		});
	}
	{% if content.data.open_version %}
		$(document).ready(function () {
			select_version('#ver{{content.data.open_version}}');
		});
	{% endif %}
</script>
<div class="row">
	<div class="col-sm-2">
		<div class="list-group" id="version_selector">
			<h4 class="list-group-item" style="color:#333;">Versions</h4>
			<a class="list-group-item list-group-item-success active" onclick="select_version(this);" style="cursor:pointer;">New Version</a>
			{% for version in content.data.list %}
			<a class="list-group-item" id="{{ version.id }}" onclick="select_version(this);" style="cursor:pointer;">{{ version.name }}</a>
			{% endfor %}
		</div>
	</div>
	<!-- OPTIONAL [Project_Version] Use dropdown on narrow view-->
	<div class="col-sm-10">
		<form id="version_edit" method="post">
			<h4>Version</h4>
			<div class="form-group input-group">
				<label for="major" class="input-group-addon">Major: </label>
				<input type="number" class="form-control" required id="major" name="major" onchange="on_version_change();">
			</div>
			<div class="form-group input-group">
				<label for="minor" class="input-group-addon">Minor: </label>
				<input type="number" class="form-control" required id="minor" name="minor" onchange="on_version_change();">
			</div>
			<div class="form-group input-group">
				<label for="patch" class="input-group-addon">Patch: </label>
				<input type="number" class="form-control" required id="patch" name="patch" onchange="on_version_change();">
			</div>
			<h4>Files</h4>
			<div class="form-group">
				<button type="button" class="btn btn-success" id="add_file" onclick="version_add_file($(this));">Add File</button>
			</div>
			<h4>Changelog</h4>
			<textarea class="form-control" id="changelog" name="changelog" rows="5"></textarea>			
			<!-- OPTIONAL [Project_Version] Use filebrowser for downloads-->
			<h4>Date</h4>
			<div class="input-group">
				<a class="input-group-addon btn btn-info" onclick="$(this).siblings().val(new Date().toISOString().substring(0,10));">Set Today</a>
				<input class="form-control" id="date" name="date" required placeholder="YYYY-MM-DD" />
			</div>
			<br />
			<button class="btn btn-success btn-lg" type="submit">Save</button>&emsp;
			<button class="btn btn-danger" type="button" onclick="version_delete();" style="vertical-align:bottom">Delete</button>
		</form>
	</div>
</div>