<div class="row">
	<div class="col-xs-12 col-md-8 col-lg-9">
		<div class="panel" id="files_browser">
			<div class="panel" id="files_path">
				Path:&emsp;
				<div class="btn-group btn-group-sm">					{% for folder in content.data.path %}
					{% if not loop.last %}
					<a href="/admin/files/?path={{ content.data.path[:loop.index] | join('/') }}" class="btn btn-default">{{ folder }}</a>
					{% else %}
					<a href="/admin/files/?path={{ content.data.path[:loop.index] | join('/') }}" class="btn btn-primary">{{ folder }}</a>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<div id="files_list">
				{% set files_current_folder_path = content.data.path | join('/') %}
				{% for folder in content.data.folders %}
				<a class="btn btn-primary" style="max-width: 7em; overflow:hidden;" href="/admin/files/?path={{ files_current_folder_path }}/{{ folder }}">
					<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
					<br />{{ folder }}
				</a>
				{% endfor %}
				{% for file in content.data.files %}
				{% set extension = last(file.split('.')) %}
					{{ extension }}
				{% endfor %}
				<br />
				ONLY TEST VISUAL:
				<br />
				<button class="btn btn-default" style="max-width: 7em; overflow:hidden;"><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span><br />Archive</button>
				<button class="btn btn-default" style="max-width: 7em; overflow:hidden;"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br />Picture</button>
				<button class="btn btn-default" style="max-width: 7em; overflow:hidden;"><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br />Sound</button>
				<button class="btn btn-default" style="max-width: 7em; overflow:hidden;"><span class="glyphicon glyphicon-film" aria-hidden="true"></span><br />Video</button>
				<button class="btn btn-default" style="max-width: 7em; overflow:hidden;"><span class="glyphicon glyphicon-font" aria-hidden="true"></span><br />Document</button>
				<button class="btn btn-default" style="max-width: 7em; overflow:hidden;"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />App</button>
				<button class="btn btn-default" style="max-width: 7em; overflow:hidden;"><span class="glyphicon glyphicon-console" aria-hidden="true"></span><br />Program</button>
				<button class="btn btn-default" style="max-width: 7em; overflow:hidden;"><span class="glyphicon glyphicon-file" aria-hidden="true"></span><br />File</button>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3">
		<div class="panel" id="files_viewer">
			[Details here]
		</div>
	</div>
	<div class="col-xs-12 col-md-8 col-lg-9">
		<div class="panel" id="files_create">
			<form method=post enctype="multipart/form-data">
				<div class="input-group">
					<span class="form-control"><input type="file" name="file" placeholder="Select file to upload" style="width:100%;"></span>
					<a class="input-group-addon btn btn-info">Upload File</a>
				</div>
			</form>
			<br />
			<div class="input-group">
				<input type="text" class="form-control" id="newfolder" placeholder="Folder Name" />
				<a class="input-group-addon btn btn-info" onclick="">Create Folder</a>
			</div>
		</div>
	</div>
</div>