<form class="form-horizontal" method=post>

	<div class="form-group"><div class="col-sm-2"><div class="pull-left"><h3>Website</h3></div></div></div>
	<div class="form-group form-group-lg">
		<label for="name" class="col-sm-2 control-label">Website Name</label>
		<div class="col-sm-10"><input type="text" class="form-control col-sm-10" placeholder="Website" id="name" name="name" value="{{ content.data.name }}" /></div>
	</div>
	<div class="form-group">
		<label for="header" class="col-sm-2 control-label">Website Header</label>
		<div class="col-sm-10"><textarea class="form-control" rows="1" placeholder="Website" id="header" name="header">{{ content.data.header }}</textarea></div>
	</div>
	<div class="form-group">
		<label for="language" class="col-sm-2 control-label">Language Code</label>
		<div class="col-sm-2"><input type="text" class="form-control col-sm-10" placeholder="Website" id="language" name="language" value="{{ content.data.language }}"/></div>
	</div>


	<div class="form-group"><div class="col-sm-2"><div class="pull-left"><h3>Menu</h3></div></div></div>
	<div class="form-group">
		<label for="menu" class="col-sm-2 control-label">Menu Items</label>
		<div class="col-sm-5"><big>Title</big></div>
		<div class="col-sm-5"><big>Target</big></div>
		<div class="col-sm-10 col-sm-offset-2" id="menu">
			{% for item in content.data.menu %}
			<div class="row menuitem" style="padding-bottom:1px;">
				<div class="col-sm-6"><input type="text" class="form-control" placeholder="Name" value="{{ item.title }}" name="menu_title" /></div>
				<div class="col-sm-6"><input type="text" class="form-control" placeholder="url" value="{{ item.target }}" name="menu_target" /></div>
			</div>
			{% else %}
			<div class="form-control-static">No Menu</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-group">
		<label for="menusize" class="col-sm-2 control-label">Menu Size</label>
		
		<div class="col-sm-10" id="menusize">
			<script>
				function addMenuItem() {
					var menu = $('div#menu');
					if ($('div.menuitem').length == 0)
						menu.html('');
					menu.append('<div class="row menuitem" style="padding-bottom:1px;">\n'
						+ '<div class="col-sm-6"><input type="text" class="form-control" placeholder="Name" name="menu_title" /></div>\n'
						+ '<div class="col-sm-6"><input type="text" class="form-control" placeholder="url" name="menu_target" /></div>\n'
						+ '</div>');
				}
				function removeMenuItem() {
					items = $('div.menuitem');
					if (items.length == 1) {
						$('div#menu').html('<div class="form-control-static">No Menu</div>');
					}
					items.last().remove();
				}
			</script>
			<div class="btn-group" role="group">
				<button class="btn btn-primary" type="button" onclick="addMenuItem();">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"><span class="sr-only">Add menu item</span></span>
				</button>
				<button class="btn btn-primary" type="button" onclick="removeMenuItem();">
					<span class="glyphicon glyphicon-minus" aria-hidden="true"><span class="sr-only">Remove menu item</span></span>
				</button>
			</div>
		</div>
	</div>


	<div class="form-group"><div class="col-sm-2"><div class="pull-left"><h3>Database</h3></div></div></div>
	<script>
		function switchResetButton() {
			if ($('input#reset').is(':checked')) {
				$('label#resetlabel').addClass("btn-danger");
				$('label#resetlabel').removeClass("btn-default");
			} else {
				$('label#resetlabel').addClass("btn-default");
				$('label#resetlabel').removeClass("btn-danger");
			}
		}
		function switchTestButton() {
			if ($('input#test').is(':checked')) {
				$('label#testlabel').addClass("btn-warning");
				$('label#testlabel').removeClass("btn-default");
			} else {
				$('label#testlabel').addClass("btn-default");
				$('label#testlabel').removeClass("btn-warning");
			}
		}
	</script>
	<div class="form-group">
		<label for="reset" class="col-sm-2 control-label">Reset Database</label>
		<div class="col-sm-10"><label class="btn btn-default" id="resetlabel" onclick="switchResetButton();"><input type="checkbox" name="reset" id="reset" /> This will remove all content form the site, including all pages</label></div>
	</div>
	<div class="form-group">
		<label for="test" class="col-sm-2 control-label">Create Test Data</label>
		<div class="col-sm-10"><label class="btn btn-default" id="testlabel" onclick="switchTestButton();"><input type="checkbox" name="test" id="test" /> This will create useless test-content</label></div>
	</div>

	<div class="form-group">
		<div class="input-group col-sm-10 col-sm-offset-1">
			<div class="pull-right">
				<input class="btn btn-primary" type="submit" value="Update Site" />
			</div>
		</div>
	</div>
</form>