<script language="JavaScript" type="text/javascript">
	function addToBlacklist(phrase) {
		$.post("/admin/messages/",
			{ action: "ban", phrase: phrase, start: start, amount: amount },
			function (data, status) {
				if (status == "success") {
					flash("'" + phrase + "' Banned", "success");
				}
			});
	}
	function banSender(messageId) {
		addToBlacklist(messages[messageId].email);
		deleteMessage(messageId);
	}

	function deleteMessage(messageId) {
		$.post("/admin/messages/",
			{ action: "delete", message: messageId },
			function (data, status) {
				if (status == "success") {
					$('#message' + messageId).remove();
				}
			});
	}
	function readMessage(messageId) {
		$.post("/admin/messages/",
			{ action: "read", message: messageId },
			function (data, status) {
				if (status == "success") {
					$('#messagelist').find('#message'+messageId).find('#read').html('\n\t\t<button class="btn btn-default" type="button" title="Mark Unread"'
							+ ' onclick="unreadMessage(' + messageId + ');">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sr-only">Read</span></button>');
				}
			});
	}
	function unreadMessage(messageId) {
		$.post("/admin/messages/", { action: "unread", message: messageId },
			function (data, status) {
				if (status == "success") {
					$('#messagelist').children('#message' + messageId).children('#read').html('\n\t\t<button class="btn btn-default" type="button" title="Mark Read"'
							+ ' onclick="readMessage(' + messageId + ');"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Unread</span></button>');
				}
			});
	}

	function getMessages(start, amount) {
		window.location = "/admin/messages/?start="+start+"&amount="+amount
	}
	function setMessageStart() {
		getMessages($('#liststart').val(), {{ content.data.amount }});
	}
	function setMessageAmount() {
		getMessages({{ content.data.start }}, $('#listamount').val());
	}
	function previousMessages() {
		{% if content.data.start == 0 %}
		return;
		{% else %}
		getMessages({{ content.data.start - content.data.amount }}, {{ content.data.amount }});
		{% endif %}
	}
	function nextMessages() {
		getMessages({{ content.data.start + content.data.amount }}, {{ content.data.amount }});
	}

	function toggleMessage(messageId) {
		var message = $('#messagelist').children('#message' + messageId);
		message.children('#message').children('div').slideToggle();
		message.children('#email').children('#time').slideToggle();
		if ( message.children('#read').find('.glyphicon-ok').length > 0 ) {
			readMessage(messageId);
		}
	}
</script>

<form class="panel" id="blacklist">
	<div class="row">
		<div class="col-xs-2">
			<a class="btn btn-primary" href="/admin/messages/blacklist/">Edit Blacklist</a>
		</div>
		<div class="col-xs-12 col-sm-10">
			<div class="input-group">
				<input type="text" class="form-control" id="blacklistadd" placeholder="Ban Phrase" />
				<a class="input-group-addon btn btn-default" onclick="addToBlacklist($('input#blacklistadd').val()); $('input#blacklistadd').val('');">Add to Blacklist</a>
			</div>
		</div>
	</div>
</form>
<form id="controls">
	<div class="row" style="vertical-align:middle">
		<div class="col-sm-2 col-xs-1">
			<button type="button" class="btn btn-default pull-left" onclick="previousMessages();">
				<span class="sr-only">Previous</span>
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</button>
		</div>
		<div class="col-sm-3 col-xs-4">
			<div class="input-group" style="white-space:nowrap;">
				<input type="number" class="form-control" value="{{ content.data.start }}" id="liststart" />
				<a class="input-group-addon btn btn-default" onclick="setMessageStart();">Goto</a>
			</div>
		</div>
		<div class="col-sm-2 col-xs-2 form-control-static text-center" id="messageliststats" style="white-space:nowrap;">
			{{ content.data.start }} - {{ content.data.start + content.data.amount }} / {{ content.data.total }}
		</div>
		<div class="col-sm-3 col-xs-4">
			<div class="input-group">
				<input type="number" class="form-control" value="{{ content.data.amount }}" id="listamount" />
				<a class="input-group-addon btn btn-default" onclick="setMessageAmount();">Show</a>
			</div>
		</div>
		<div class="col-sm-2 col-xs-1">
			<button type="button" class="btn btn-default pull-right" onclick="nextMessages();">
				<span class="sr-only">Next</span>
				<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
			</button>
		</div>
	</div>
</form>
<div class="table-responsive" id="messagetable">
	<table class="table table-hover">
		<thead>
			<tr>
				<td>Unread</td>
				<td style="width:99%">Message</td>
				<td>Sender</td>
				<td>Ban&nbsp;</td>
				<td>Delete</td>
			</tr>
		</thead>
		<tbody id="messagelist">
			{% for mess in content.data.messages %}
				<tr id="message{{ mess.id }}">
					<td id="read">
						{% if mess.unread %}
						<button class="btn btn-default" type="button" title="Mark Read" onclick="readMessage({{ mess.id }});">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span><span class="sr-only">Unread</span>
						</button>
						{% else %}
						<button class="btn btn-default" type="button" title="Mark Unread" onclick="unreadMessage({{ mess.id }});">
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="sr-only">Read</span>
						</button>
						{% endif %}
					</td>
					<td id="message" onclick="toggleMessage({{ mess.id }});">
						<strong>{{ mess.subject }}</strong>
						<div hidden>{{ mess.message }}</div>
					</td>
					<td id="email">
						<a href="mailto:{{ mess.email }}">{{ mess.email }}</a>
						<div hidden id="time">{{ mess.time.year }}.{{ mess.time.month }}.{{ mess.time.day }} {{ mess.time.hour }}:{{ mess.time.minute }}</div>
					</td>
					<td colspan="2">
						<div class=" btn-group">
							<button class="btn btn-danger" type="button" title="Ban Sender" onclick="banSender({{ mess.id }});">
								<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
								<span class="sr-only">Ban Sender</span>
							</button>
							<button type="button" class="btn btn-danger" title="Delete Message" onclick="deleteMessage({{ mess.id }});">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								<span class="sr-only">Delete Message</span>
							</button>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>