{#
	This file contains the header and is called by the page.html file when a page is rendered

	The header recievces data in the following form (copied from page.html):

	site = {name, header, language, menu}
		name: shown in the title
		header: the big text in the title
		menu: list of menu-items = {title, target}
			target: target of the link
			title: text to show on the button
#}

<a href="/"><h1>{{ site.header | safe }}</h1></a>

{% if site.menu %}
<div class="btn-group btn-group-lg navigation" role="navigation">
	{% for item in site.menu %}
		<a href="{{ item.target }}" class="btn btn-default {% if request.path == item.target %}active{% endif %}">{{ item.title | safe }}</a>
	{% endfor %}
</div>
{% endif %}