<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{% if title is defined %}{{ title }} - {% endif %}Aggrathon</title>  
      
    <!-- Boot strap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Own theme -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>

    {% block head %}{% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
			<a href="/"><h1>Aggrathon.com</h1></a>
            <div class="btn-group btn-group-lg navigation" role="navigation">
                <a href="/" class="btn btn-default {% if request.path == '/' %} active {% endif %}">Home</a>
                <a href="/about" class="btn btn-default {% if request.path == '/about/' %} active {% endif %}">About</a>
                <a href="/stuff" class="btn btn-default {% if request.path == '/stuff/' %} active {% endif %}">Stuff</a>
                <a href="/projects" class="btn btn-default {% if request.path == '/projects/' %} active {% endif %}">Projects</a>
            </div>
        </div>
        <div class="content">
            {% block content %}
			{% if alert is defined %}
			<div class="alert alert-info">
				{{ alert | safe }}
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endif %}
                <div class="panel">
                    {% block panel %}
                        {% if title is defined %}<h2>{{ title }}</h2>{% endif %}
                        
                        {% if html is defined %} {{ html | safe }} {% endif %}
                        {% if page is defined %} {% include page %} {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>      

    </div>    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>