{#
	This page shows a list of all pages with quick access to some commands
#}
{% from 'admin/pages/macros.html' import toolbar, ajax_functions %}
{{ ajax_functions(true) }}
<script>
	function getRow(path) {
		return $("tr[id='page_" + path + "']");
	}
	function deleteSuccess(path) {
		getRow(path).remove();
	}
	function moveSuccess(oldpath, newpath) {
		getRow(oldpath).find('#path').html(newpath);
	}
	function copySuccess(oldpath, newpath) {
		var parent = getRow(oldpath);
		var clone = parent[0].outerHTML;
		clone = clone.replace("'" + oldpath + "'", "'" + newpath + "'");
		clone = clone.replace(">" + oldpath + "<", ">" + newpath + "<");
		clone = clone.replace("=" + oldpath + '"', "=" + newpath + '"');
		parent.after(clone);
		getRow(newpath).find('#featured').html('');
	}
	function createPage() {
		var path = promptNewPath("New path for the page", 'newpage')
		$.post('/admin/pages/edit/',
			{ page: path, action: "create" },
			function (data) {
				if (data.result == 'success') {
					flash("Page at '" + path + "' created", "success");
					window.location.href = '/admin/pages/edit/?page=' + path;
				} else {
					flash("Page at '" + path + "' could not be created:\n" + status, "danger");
				}
			});
	}
</script>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Page</th>
			<th>Path</th>
			<th>Status</th>
			<th>Tools</th>
		</tr>
	</thead>
	<tbody>
		{% for page in content.data.pages %}
		<tr id="page_{{ page.path }}">
			<td>{% if page.path == '/' and page.title == '' %}Main Page{% endif %}{{ page.title }}</td>
			<td id="path">{{ page.path }}</td>
			<td id="featured">
				{% if page.featured %}
				<span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span><span class="sr-only">Featured</span>
				{% endif %}
				{% if page.private %}
				<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span><span class="sr-only">Private</span>
				{% endif %}
			</td>
			<td>{{ toolbar(page.path) }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="text-right" aria-hidden="true">
	Status: &emsp; <span class="glyphicon glyphicon-bullhorn"></span> Featured, <span class="glyphicon glyphicon-eye-close"></span> Private
</div>
<div>
	<button class="btn btn-primary" onclick="createPage();">Create a new Page</button>
</div>