{% from 'macros.html' import flash %}
{{ flash() }}
{% if request.args.get('filter') %}
	{% set files_filter = '&filter='+request.args.get('filter') %}
{% else %}
	{% set files_filter = '' %}
{% endif %}
<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-12 col-lg-8">
		<div class="panel" id="files_path">
			Path:&emsp;
			<div class="btn-group btn-group-sm">					
				{% for folder in content.data.path %}
				{% if loop.first %}{% set files_path = folder %}{% else %}{% set files_path = files_path+'/'+folder %}{% endif %}
				{% if not loop.last %}
				<a href="?path={{ files_path }}{{ files_filter }}" class="btn btn-default">{{ folder }}</a>
				{% else %}
				<a href="?path={{ files_path }}{{ files_filter }}" class="btn btn-primary">{{ folder }}</a>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div id="files_list" class="panel">
			{% set files_current_folder_path = content.data.path | join('/') %}
			{% for folder in content.data.folders %}
			<a class="btn btn-primary" style="max-width: 7em; overflow:hidden;" href="?path={{ files_current_folder_path }}/{{ folder }}{% if request.args.get('filter') %}&filter={{ request.args.get('filter') }}{% endif %}">
				<span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
				<br />{{ folder }}
			</a>
			{% endfor %}
			{% for file in content.data.files %}
			{% set extension = file.split('.')[-1:][0] %}
			{% if extension in ['zip', 'rar', '7z', 'gz', 'tar'] %}
			<button class="btn btn-default" style="max-width: 7em; overflow:hidden;" onclick="selectFile('{{ file }}');"><span class="glyphicon glyphicon-compressed" aria-hidden="true"></span><br />{{ file }}</button>
			{% elif extension in ['jpg', 'jpeg', 'png', 'gif', 'svg', 'bmp', 'raw', 'tiff'] %}
			<button class="btn btn-default" style="max-width: 7em; overflow:hidden;" onclick="selectFile('{{ file }}', 'img');"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span><br />{{ file }}</button>
			{% elif extension in ['mp3', 'ogg', 'wav', 'aiff', 'aac', 'flac', 'oga', 'wma', 'midi'] %}
			<button class="btn btn-default" style="max-width: 7em; overflow:hidden;" onclick="selectFile('{{ file }}', 'audio');"><span class="glyphicon glyphicon-music" aria-hidden="true"></span><br />{{ file }}</button>
			{% elif extension in ['3gp', 'avi', 'mkv', 'mka', 'mks', 'mp4', 'mpeg', 'mpg', 'mov', 'qt', 'webm', 'ogv'] %}
			<button class="btn btn-default" style="max-width: 7em; overflow:hidden;" onclick="selectFile('{{ file }}', 'video');"><span class="glyphicon glyphicon-film" aria-hidden="true"></span><br />{{ file }}</button>
			{% elif extension in ['doc', 'html', 'docx', 'txt', 'odt', 'css', 'js', 'rtf', 'json', 'xml', 'htm', 'pdf', 'tex', 'ppt', 'pptx', 'odp', 'ods', 'xls', 'xlsx'] %}
			<button class="btn btn-default" style="max-width: 7em; overflow:hidden;" onclick="selectFile('{{ file }}');"><span class="glyphicon glyphicon-font" aria-hidden="true"></span><br />{{ file }}</button>
			{% elif extension in ['apk'] %}
			<button class="btn btn-default" style="max-width: 7em; overflow:hidden;" onclick="selectFile('{{ file }}');"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />{{ file }}</button>
			{% elif extension in ['exe', 'dll', 'jar', 'bat', 'sh', 'cmd', 'app', 'class'] %}
			<button class="btn btn-default" style="max-width: 7em; overflow:hidden;" onclick="selectFile('{{ file }}');"><span class="glyphicon glyphicon-console" aria-hidden="true"></span><br />{{ file }}</button>
			{% else %}
			<button class="btn btn-default" style="max-width: 7em; overflow:hidden;" onclick="selectFile('{{ file }}');"><span class="glyphicon glyphicon-file" aria-hidden="true"></span><br />{{ file }}</button>
			{% endif %}
			{% endfor %}
			{% if not content.data.folders and not content.data.files %}
			[ Folder is Empty ]
			{% endif %}
		</div>
		<div class="panel hidden-xs hidden-md" id="files_create">
			<form method=post enctype="multipart/form-data" onsubmit="return uploadFiles();">
				<div class="input-group">
					<span class="form-control"><input type="file" name="files" id="files_upload" required placeholder="Select file to upload" style="width:100%;" multiple></span>
					<span class="input-group-btn"><button type="submit" class="btn btn-info">Upload Files</button></span>
				</div>
			</form>
			<br />
			<form method="post" onsubmit="return createFolder();">
				<div class="input-group">
					<input type="text" class="form-control" id="files_newfolder" placeholder="Folder Name" required name="folder" />
					<span class="input-group-btn"><button type="submit" class="btn btn-info">Create Folder</button></span>
				</div>
			</form>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
		<div class="panel" id="files_viewer">
			<h3>{{ content.data.path[-1:][0] }}</h3>
			<table>
				<tbody>
					<tr>
						<td width="99%">Subfolders:</td>
						<td>{{ content.data.folders | length }}</td>
					</tr>
					<tr>
						<td>Files:</td>
						<td>{{ content.data.files | length }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- OPTIONAL Better File Management -->
	<div class="col-xs-12 col-md-6 hidden-sm hidden-lg">
		<div class="panel" id="files_create">
			<form method=post enctype="multipart/form-data" onsubmit="return uploadFiles();">
				<div class="input-group">
					<span class="form-control"><input type="file" name="files" id="files_upload" required placeholder="Select file to upload" style="width:100%;" multiple></span>
					<span class="input-group-btn"><button type="submit" class="btn btn-info">Upload Files</button></span>
				</div>
			</form>
			<br />
			<form method="post" onsubmit="return createFolder();">
				<div class="input-group">
					<input type="text" class="form-control" id="files_newfolder" placeholder="Folder Name" required name="folder" />
					<span class="input-group-btn"><button type="submit" class="btn btn-info">Create Folder</button></span>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	var path = "{{ content.data.path | join('/') }}";
	var folders = ["{{ content.data.folders | join('", "') | safe }}"];
	var files = ["{{ content.data.files | join('", "') | safe }}"];

	function selectFile(file, preview) {
		var html = '<h3 style="word-wrap: break-word;">' + file + '</h3>';
		if (preview) {
			if (preview == 'img') {
				html += '<img src="/' + path + '/' + file + '" class="img-responsive img-rounded" />';
			} else {
				html += '<' + preview + ' class="img-responsive img-rounded" controls><source src="/' + path + '/' + file + '"></' + preview + '>';
			}
		}
		html += '<input id="files_selected_path" class="form-control" type="text" value="{{ url_for("main") }}' + path + '/' + file + '" readonly autofocus onclick="this.select();" />'
			+ '<div class="btn-group btn-group-justified"><a onclick="$(this).parent().find(\'input\').select();document.execCommand(\'copy\');" class="btn btn-info">Copy</a>'
			+ '<a href="{{ url_for("main") }}'+path+'/'+file+'" download class="btn btn-success">Download</a></div>'
		$('#files_viewer').html(html)
	}
	function uploadFiles() {
		var overwrite = false;
		var q = "Overwrite already existing files?"
		var uploadfiles = $('#files_upload')[0].files;
		for (var i = 0; i < uploadfiles.length; i++) {
			for (var j = 0; j < files.length; j++) {
				if (uploadfiles[i].name == files[j]) {
					overwrite = true;
					q += '\n'+files[j];
					break;
				}
			}
		}
		if (overwrite) {
			return window.confirm(q);
		}
		return true;
	}
	function createFolder() {
		var newfolder = $('#files_newfolder');
		name = newfolder.val();
		for (var j = 0; j < files.length; j++) {
			if (name == files[j]) {
				flash("Folder already exists", "danger");
				return false;
			}
		}
		return true;
	}
</script>