{#
	This file renders the main admin page with stats and overviews for the site
#}
<h2>
	Admin Overview
	<a class="btn btn-primary pull-right" href="{{ url_for("logout") }}">Logout {% if current_user.email %}{{current_user.email}}{% else %}Current User{% endif %}</a>
</h2></div>

<div class="row">
	{% for size, title, file, data in content.data.widgets %}
	<div class="col-xs-12{% if size %} col-sm-6 {% endif %}">
		<div class="panel">
			<h3>{{ title }}</h3>
			{% include file %}
		</div>
	</div>
	{% endfor %}