<script>
	function addMenuItem() {
		$('div#menu').append('<div class="row" style="padding-bottom:1px;">'
				+ '<div class="col-sm-3"><input type="text" class="form-control" placeholder="Title" name="menu_title" /></div>'
				+ '<div class="col-sm-6"><input type="text" class="form-control" placeholder="Target" name="menu_target" /></div>'
				+ '<div class="col-sm-3 pull-right text-right" style="padding-left:0px;">'
				+ '<div class="btn-group">'
				+	'<button type="button" class="btn btn-primary" onclick="moveMenuItemUp(this);">/\\</button>'
				+	'<button type="button" class="btn btn-primary" onclick="moveMenuItemDown(this);">\\/</button>'
				+ '</div> <button type="button" class="btn btn-danger" onclick="removeItem(this);">X</button></div></div>');
	}
	function moveMenuItemUp(item) {
		var it = $(item).parent().parent().parent();
		it.insertBefore(it.prev());
	}
	function moveMenuItemDown(item) {
		var it = $(item).parent().parent().parent();
		it.insertAfter(it.next());
	}

	function removeItem(item) {
		$(item).parent().parent().remove();
	}

	function addUser() {
		$('div#users').append('<div class="row" style="padding-bottom:1px;"><div class="col-xs-11"><input type="email" class="form-control" placeholder="admin@email.com" name="user" /></div>'
				+ '<div class="col-xs-1 text-right pull-right" style="padding-left:0px;"><button type="button" class="btn btn-danger" onclick="removeItem(this);">X</button></div></div>');
	}
</script>

<form class="form-horizontal" method=post>

	<div class="form-group form-group-lg">
		<label for="name" class="col-sm-2 control-label">Website Name</label>
		<div class="col-sm-10"><input type="text" class="form-control col-sm-10" placeholder="Website" id="name" name="name" value="{{ content.data.name }}" /></div>
	</div>
	<div class="form-group">
		<label for="header" class="col-sm-2 control-label">Website Header</label>
		<div class="col-sm-10"><textarea class="form-control" rows="1" placeholder="Website" id="header" name="header">{{ content.data.header }}</textarea></div>
	</div>
	<div class="form-group">
		<label for="language" class="col-sm-2 control-label">Language Code</label>
		<div class="col-sm-2"><input type="text" class="form-control col-sm-10" placeholder="Website" id="language" name="language" value="{{ content.data.language }}"/></div>
	</div>
	<br />
	<div class="form-group">
		<big class="col-sm-2 control-label">Menu</big>
		<div class="col-sm-10" id="menu">
			{% for item in content.data.menu %}
			<div class="row" style="padding-bottom:1px;">
				<div class="col-sm-3"><input type="text" class="form-control" placeholder="Title" value="{{ item.title }}" name="menu_title" /></div>
				<div class="col-sm-6"><input type="text" class="form-control" placeholder="Target" value="{{ item.target }}" name="menu_target" /></div>
				<div class="col-sm-3 pull-right text-right" style="padding-left:0px;">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" onclick="moveMenuItemUp(this);">/\</button>
						<button type="button" class="btn btn-primary" onclick="moveMenuItemDown(this);">\/</button>
					</div>
					<button type="button" class="btn btn-danger" onclick="removeItem(this);">X</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2" id="menusize">
			<button class="btn btn-primary" type="button" onclick="addMenuItem();">Add menu item</button>
		</div>
	</div>

	<br />
	<div class="form-group">
		<big class="col-sm-2 control-label">Administrators</big>
		<div class="col-sm-10" id="users">
			{% for user in content.data.users %}
			<div class="row" style="padding-bottom:1px;">
				<div class="col-xs-11"><input type="email" class="form-control" placeholder="admin@email.com" name="user" value="{{ user.email }}" /></div>
				<div class="col-xs-1 text-right pull-right" style="padding-left:0px;"><button type="button" class="btn btn-danger" onclick="removeItem(this);">X</button></div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-10 col-sm-offset-2"><button type="button" class="btn btn-primary" onclick="addUser();">Add User</button></div>
	</div>

	<br />
	<script>
		function switchResetButton() {
			if ($('input#reset').is(':checked')) {
				$('label#resetlabel').addClass("btn-danger");
				$('label#resetlabel').removeClass("btn-default");
			} else {
				$('label#resetlabel').addClass("btn-default");
				$('label#resetlabel').removeClass("btn-danger");
			}
		}
		function switchTestButton() {
			if ($('input#test').is(':checked')) {
				$('label#testlabel').addClass("btn-warning");
				$('label#testlabel').removeClass("btn-default");
			} else {
				$('label#testlabel').addClass("btn-default");
				$('label#testlabel').removeClass("btn-warning");
			}
		}
		function switchDefaultButton() {
			if ($('input#default').is(':checked')) {
				$('label#defaultlabel').addClass("btn-warning");
				$('label#defaultlabel').removeClass("btn-default");
			} else {
				$('label#defaultlabel').addClass("btn-default");
				$('label#defaultlabel').removeClass("btn-warning");
			}
		}
	</script>
	<div class="form-group">
		<label for="reset" class="col-sm-2 control-label">Reset Database</label>
		<div class="col-sm-10"><label class="btn btn-default" id="resetlabel" onclick="switchResetButton();"><input type="checkbox" name="reset" id="reset" /> This will remove all content form the site, including all pages</label></div>
	</div>
	<div class="form-group">
		<label for="default" class="col-sm-2 control-label">Default Menu</label>
		<div class="col-sm-10"><label class="btn btn-default" id="defaultlabel" onclick="switchDefaultButton();"><input type="checkbox" name="default" id="default" /> This will will replace the menu with a default menu</label></div>
	</div>
	<div class="form-group">
		<label for="test" class="col-sm-2 control-label">Create Test Data</label>
		<div class="col-sm-10"><label class="btn btn-default" id="testlabel" onclick="switchTestButton();"><input type="checkbox" name="test" id="test" /> This will create useless test-content</label></div>
	</div>

	<div class="form-group">
		<div class="col-xs-12 text-right">
			<input class="btn btn-primary btn-lg" type="submit" value="Save Settings" />
		</div>
	</div>
</form>