{#
	This file renders the sidebar for the adminpages
#}
{# link form: (url, title, dropdown, badge) #}
{% set links = [
	(url_for('admin'), 'Overview', [], ''),
	(url_for('setup'), 'Setup', [], ''),
	(url_for('pages_admin'), 'Pages', [(url_for('pages_create'), 'Create Page')], ''),
	(url_for('projects_admin'), 'Projects', [(url_for('projects_create'), 'Create Project'), (url_for('project_tags'), 'Tags')], ''),
	(url_for('files'), 'Files', [], ''),
	(url_for('messages'), 'Messages', [(url_for('blacklist'), 'Blacklist'),(url_for('forwarding'), 'Forwarding')], site.admin.unread),
	(url_for('logout'), 'Log Out', [], '')
] %}
<h2>Adminpanel</h2>

{% for url, title, dropdown, badge in links %}
{% if dropdown %}
<div class="btn-group btn-group-lg button-list-gap" style="width:100%;">
	<a class="floating-dropdown-toggle btn btn-primary pull-right dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
		<span class="caret"></span>
		<span class="sr-only">Toggle Dropdown</span>
	</a>
	<ul class="dropdown-menu pull-right" role="menu">
		{% for url2, title2 in dropdown %}
		<li><a href="{{ url2 }}">{{ title2 }}</a></li>
		{% endfor %}
	</ul>

	<a href="{{ url }}" class="btn btn-primary btn-block{% if request.path == url %} active{% endif %}">
		{{ title }}
		{% if badge and badge != 0 %} <span class="badge">{{ badge }}</span>{% endif %}
	</a>
</div>
{% else %}
	<a href="{{ url }}" class="btn btn-primary btn-block btn-lg button-list-gap{% if request.path == url %} active{% endif %}">
		{{ title }}
		{% if badge and badge != 0 %} <span class="badge">{{ badge }}</span>{% endif %}
	</a>
{% endif %}
{% endfor %}