{% macro flash(id='content') %}
	{% if not macro_flash %}
		{% set macro_flash = true %}
		<script>
			function flash(message, type) {
				if (type == undefined) {
					type = 'default';
				}
				$('#content').eq(0).before('<div class="alert alert-' + type + '"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + message + '</div>');
			}
		</script>
	{% endif %}
{% endmacro %}
{% macro image_viewer(images, id='image-viewer') %}
	<div class="row image-carousel">
		<div class="col-xs-12 col-sm-9">
			<div id="{{id}}" class="carousel slide image-carousel-control" data-ride="carousel" data-interval="10000">
				<div class="carousel-inner text-middle" role="listbox">
				{% for image in images %}
			    	<div class="item image-carousel-control{% if loop.first %} active{% endif %}">
			    		<img class="img-rounded center-block" src="{{ image.image }}" />
			    	</div>
				{% endfor %}
				</div>
				<a class="left carousel-control img-rounded" href="#{{id}}" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control img-rounded" href="#{{id}}" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 hidden-xs image-carousel-select">
			<ol class="list-group" id="{{id}}-selector">
				{% for image in images %}
				<li class="list-group-item image-carousel-li thumbnail{% if loop.first %} selected{% endif %}" data-target="#{{id}}" data-slide-to="{{ loop.index0 }}">
					<img class="img-rounded" src="{{ image.image }}" />
				</li>
				{% endfor %}
			</ol>
		</div>
	</div>
	<script type="text/javascript">
		$('#{{id}}').on('slid.bs.carousel', function () {
			var id = $(this).find('.active').index();
			var selector = $('#{{id}}-selector');
			selector.children('.selected').removeClass('selected');
			selector.children().eq(id).addClass('selected');
		})
	</script>
{% endmacro %}
{% macro file_selector() %}
	{% if not macro_file_selector %}
		{% set macro_file_selector = true %}
			{{ flash() }}	
			<div class="modal fade" id="file_selector" onload="$('body').append($(this));">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Select File</h4>
						</div>
						<div class="modal-body">
							<iframe  id="file_selector_iframe" style="width:100%;" onload="this.style.height = this.contentWindow.document.body.scrollHeight+3 + 'px';"></iframe>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
							<button type="button" class="btn btn-danger" onclick="file_selector_save('');" data-dismiss="modal">Empty</button>
							<button type="button" class="btn btn-info" onclick="file_selector_external();" data-dismiss="modal">External URL</button>
							<button type="button" class="btn btn-success" onclick="file_selector_save();" data-dismiss="modal">Select</button>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				var file_selector_callback;
				function file_selector(callback, images) {
					var modal = $('#file_selector');
					var iframe = modal.find('#file_selector_iframe')
					if (images) {
						modal.find('.modal-header h4').html('Select Image');
						iframe.attr('src', "/admin/files/embed/?filter=png,jpg,jpeg,gif");
					} else {
						modal.find('.modal-header h4').html('Select File');
						iframe.attr('src', "/admin/files/embed/");
					}
					modal.modal('show');
					file_selector_callback = callback;
				}
				function file_selector_save(path) {
					if (path == undefined)
						path = $('#file_selector #file_selector_iframe').contents().find('#files_selected_path').val()
					file_selector_callback(path);
				}
				function file_selector_external() {
					var url = prompt('External url:', 'http://');
					if (url) {
						file_selector_save(url);
					}
				}
			</script>
	{% endif %}
{% endmacro %}
{% macro rich_text(id='rich-text') %}
	{% if not rich_text_js %}
		{% set rich_text_js = true %}
		<script src="{{ config.EDITOR }}"></script>
	{% endif %}
	<script>
		{{ config.EDITOR_CONFIG | replace("TEXTAREA_ID", id) | safe }}
		function rich_text_insert_{{ id | replace("-", "_") }}(html) {
			{{ config.EDITOR_JS_INSERT | replace("TEXTAREA_ID", id) | replace('INSERT_HTML', 'html') | safe }}
		}
	</script>
{% endmacro %}
{% macro rich_text_insert(id='rich-text') %}
	{{ file_selector() }}
	<script>
		function rich_text_select_file() {
			file_selector(rich_text_insert_file, false);
		}
		function rich_text_insert_file(path) {
			if (path) {
				var split = path.split('.');
				var type = split[split.length - 1];
				if (['png', 'jpg', 'jpeg', 'gif'].indexOf(type) != -1) {
					rich_text_insert_{{ id | replace("-", "_") }}('<img src="' + path + '" class="img-responsive img-rounded" />');
				} else {
					rich_text_insert_{{ id | replace("-", "_") }}('<a href="'+path+'">'+path+'</a>');
				}
			}
		}
	</script>
	<button type="button" class="btn btn-primary" onclick="rich_text_select_file();">Insert File</button>
{% endmacro %}