<!DOCTYPE html>

{#
	This file is the base template for the page
	It calls the file header.html for the header and content.html or sidebar.html depending on wich is needed

	The page recievces data in the following form:

	site = {name, header, menu, language}
		name: shown in the title
		header: the big text in the title
		language: language-code eg. "en"
		menu: list of menu-items = {title, target}
			target: target of the link
			title: text to show on the button
		admin: should the admin menu be shown
			unread: the amount of unread messages

	content = {title, html, file, data}
		title: the header of the page (also shown in the title)
		html: the content of the page as a string (may contain html)
		file: url to a file containing the content of the page (can be jinja2)
		data: the data to send to the contentfile

	
	sidebar = {html, file, data}: if this object is present the sidebar is shown (otherwise no sidebar)
		html: text/html that is a custom sidebar
		file: url to a file containing a custom sidebar
		data: the data to send to the sidebarfile
#}

<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8" />
    <title>{% if content.title %}{{ content.title }} - {% endif %}{{ site.name }}</title>
    
	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">  

    <!-- Boot strap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ config.BOOTSTRAP }}/css/bootstrap.min.css">

    <!-- Own theme -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

	<!-- JQuery -->
	<script src="{{ config.JQUERY }}"></script> 

    {% block head %}{% endblock %}
</head>
<body>
    <div class="container-fluid">

		{% block header %}
        <div class="page-header">
				{% include 'layout/header.html' %}
        </div>		
		{% endblock %}

		<div class="content">
            {% block content %}
				{% if sidebar %}
					{% include "layout/sidebar.html" %}
				{% else %}
					{% include "layout/content.html" %}
				{% endif %}
            {% endblock %}
        </div>

    </div>    
    
    <!-- Bootstrap core JavaScript | Placed at the end of the document so the pages load faster -->
	<script src="{{ config.BOOTSTRAP }}/js/bootstrap.min.js"></script>
</body>
</html>