{#
	This page renders the page with a sidebar, calls content.html and is acalled by page.html

	The header recievces data in the following form (copied from page.html):

	sidebar = {html, file, data}: if this object is present the sidebar is shown (otherwise no sidebar)
		html: text/html that is a custom sidebar
		file: url to a file containing a custom sidebar
		data: the data to send to the sidebarfile
#}

<div class="row">
	<div class="col-xs-12 col-md-8 col-lg-9">
		{% include 'layout/content.html' %}
	</div>
    <div class="col-xs-12 col-md-4 col-lg-3">
        {% block sidebar %}

        {% if sidebar.html %}
            <div class="panel">{{ sidebar.html | safe }}</div>
        {% endif %}

        {% if sidebar.file %}
            <div class="panel">{% include sidebar.file %}</div>
        {% endif %}

        {% endblock %}
    </div>
</div>
