@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Special+Elite);

body {
	background-image: url(background.jpg);
	background-color: #333;
	background-size: 100% cover;
	background-attachment:local;
	background-position: center top;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, "Arial", sans-serif;
	color: white;
}


.page-header {
    width: 100%;
	border-bottom: 0px;
    display: inline-block;
    margin: 20px 0px 10px 0px;
}


.page-header h1 {
	font-family: 'Special Elite', cursive;
    display: inline-block;
    margin-top: 7px;
	color: #eee;
}

.page-header div {
    float: right;
}


.btn-default {
	background-color: rgba(96,96,96,0.5);
	border: 1px solid rgba(96,96,96,0.2);
	color: white;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default.active,
.btn-default.focus {
	background-color: rgba(192,192,192,0.6);
	color: white;
	border: 1px solid rgba(255,255,255,0);
}

.btn-primary {
	background-color: white;
	border: 1px solid white;
	color: #333;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.active,
.btn-primary.focus {
	background-color: rgba(255,255,255,0.8);
	color: #333;
	border: 1px solid rgba(255,255,255,0.8);
}	

.btn-success {
	border: 1px solid #429942;
	background-color: rgba(75, 179, 75, 0.8);
	color: #FFF;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-success.active,
.btn-success.focus {
	background-color: #5CB85C;
	border-color: rgba(255,255,255,0);
}

.btn-warning {
	background-color: rgba(255, 170, 51, 0.8);
	border: 1px solid #D98C21;
	color: #FFF;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-warning.active,
.btn-warning.focus {
	background-color: #EEA236;
	border-color: rgba(255,255,255,0);
}

.btn-danger {
	background-color: rgba(201, 47, 43, 0.8);
	border: 1px solid #ac2925;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus,
.btn-danger.active,
.btn-danger.focus {
	border-color: rgba(255,255,255,0);
	background-color: #D9534F;
}

.btn-info {
	background-color: rgba(52, 195, 237, 0.8);
	color:white;
	border: 1px solid #269abc;
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info.active,
.btn-info.focus {
	border-color: rgba(255,255,255,0);
	background-color: #5BC0DE;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary.active[disabled],
.btn-primary.focus[disabled],
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #444;
    border-color: black;
	color: #eee;
	opacity: 0.8;
}


.panel {
	background-color: rgba(96,96,96,0.35);
	padding: 1em;
	border-radius:0.4em;
}

.panel h2 {
	margin-top: 0px;
}

.panel h3 {
	margin-top: 0px;
	text-align: center;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}


.alert-default {
	background-color: rgba(96, 96, 96, 0.5);
	border: white;
	color: white;
}
.alert-info {
    background-color: rgba(170, 223, 249, 0.8);
	border-color: #08719B
}
.alert-danger {
	border-color: #A94442;
	background-color: rgba(255, 205, 205, 0.8);
}
.alert-warning {
	background-color: rgba(255, 245, 193, 0.85);
	border-color: #8A6D3B;
}
.alert-success {
	background-color: rgba(220, 255, 205, 0.8);
	border-color: #3C763D;
}


a {
	color: #4898f0;
}
a:focus, a:hover {
	color: #54a4ff;
}


.label-default {
	background-color: rgba(96,96,96,0.5);
	
}
a.label-default:hover,
a.label-default:active,
a.label-default:focus,
a.label-default.active,
a.label-default.focus {
	border: 1px solid #fff;
	
}


.blurb-list .media-body {
	text-align: left;
	white-space: normal;
}
.blurb-list .media-heading {
	text-align: left;
}
.blurb-list .media-object {
	width: 5em;
}
.blurb-list.blurb-list-big .media-object {
	width: 8em;
}
.blurb-list .btn {
	padding: 6px;
}


label {
	font-size: 15px;
	font-weight: normal;
}

.floating-dropdown-toggle {
	position: absolute !important;
	right: 0px !important;
	z-index: 100 !important;
}

.button-list-gap:not(:first-child) {
	margin-top: 5px
}

.button-list-gap.btn-group-lg > .btn {
	border-radius: 6px !important;
}


table.table.table-hover tbody tr:hover {
	color: #333;
}

.img-thumbnail {
	color: #333;
}

.modal {
	color: #333;
}


.cke_source {
	color: #333;
	border-radius: 4px
}
.cke_editable {
	margin: 0px 5px;
}
.cke_bottom,
.cke_top {
	border: none;
	border-radius: 4px
}
.cke {
	border: none !important;
}
.cke_inner {
	background: none !important;
}


.image-carousel-li {
	padding: 2px; 
	border: none;
	background: transparent;
}
.image-carousel-li.selected img {
	border: 2px solid #eee;
	margin: -1px;
}
.image-carousel-select {
	height:25em; 
	max-width:100%; 
	overflow-x: hidden; 
	overflow-y: auto;
}
.selected .image-carousel-img {
	border: 2px solid #eee;
	margin: 1px;
}
.image-carousel-control {
	height: 25em;
}
.image-carousel-control img {
	max-height: 25em;
	vertical-align: middle;
}
.image-carousel {
	margin: -15px 0px 15px;
	border: 1px solid gba(96,96,96,0.2);
	border-radius: 0.4em;
	background-color: rgba(96,96,96,0.35);
}
.image-carousel div {
	padding: 0px;
}
.image-carousel-control .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.3) 100%);
}
.image-carousel-control .carousel-control.left {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.3) 100%);
}

