{% from 'macros.html' import flash %}
{{ flash() }}
<form method="post" id="contact" name="contact" onsubmit="return submitButton();">
	<div class="form-group has-feedback">
		<label for="email" class="control-label">Email address *</label>
		<input type="email" class="form-control" id="email" placeholder="Email" name="email" onchange="checkEmail();" {% if content.data.email %}value="{{ content.data.email }}"{% endif %} required />
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
	</div>
	<div class="form-group hidden">
		<label for="website" class="control-label">Website</label>
		<input type="url" class="form-control" id="website" placeholder="Leave this empty (This field finds bots)" name="website" />
	</div>
	<div class="form-group has-feedback">
		<label for="subject" class="control-label">Subject *</label>
		<input type="text" class="form-control" id="subject" placeholder="Subject" name="subject" onchange="checkSubject();" {% if content.data.subject %}value="{{ content.data.subject }}" {% endif %} required />
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
	</div>
	<div class="form-group has-feedback">
		<label for="message" class="control-label">Message *</label>
		<textarea class="form-control" id="message" placeholder="Message" name="message" rows="5" onchange="checkMessage();" required> {% if content.data.message %}{{ content.data.message }}{% endif %}</textarea>
		<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
	</div>
	<div class="panel">{{ recaptcha }}</div>
	<button class="btn btn-primary btn-lg" type="submit" id="submitButton" disabled="disabled">Send Message</button>
	<span class="pull-right">* Required</span>
</form>
<script language="JavaScript" type="text/javascript">
	var timer = 5;
	function submitTimer() {
		button = $('button#submitButton');
		if (timer < 0) {
			button.prop("disabled", false);
			button.html("Send Message");
		} else {
			button.html("Wait: " + timer)
			button.prop("disabled", true);
			timer = timer -1
			setTimeout(submitTimer, 1000);
		}
	}

	function setFieldComplete(field) {
		field.parent().addClass('has-success');
		field.parent().removeClass('has-error');
		field.parent().find('.glyphicon').addClass('glyphicon-ok');
	}
	function setFieldError(field) {
		field.parent().addClass('has-error');
		field.parent().removeClass('has-success');
		field.parent().find('.glyphicon').addClass('glyphicon-remove');
	}

	function checkEmail() {
		var email = $('#email');
		var val = email.val();
		var split = val.split('@');
		if (val != '' && split.length == 2 && split[1].split('.').length > 1) {
			setFieldComplete(email);
			return true;
		} else {
			setFieldError(email);
			return false;
		}
	}
	function checkSubject() {
		var subject = $('#subject');
		var val = subject.val();
		if (val == '' || val == ' ') {
			setFieldError(subject);
			return false;
		} else {
			setFieldComplete(subject);
			return true;
		}
	}
	function checkMessage() {
		var message = $('#message');
		var val = message.val();
		if (val == '' || val == ' ') {
			setFieldError(message);
			return false;
		} else {
			setFieldComplete(message);
			return true;
		}
	}

	function submitButton() {
		if (timer < 0) {
			var complete = true;

			if(!checkEmail())
				complete = false;
			if(!checkSubject())
				complete = false;
			if(!checkMessage())
				complete = false;

			if (complete) {
				return true;
			} else {
				flash('Not all fields are correctly filled in', 'danger');
				timer = 3;
				submitTimer();
			}
		}
		return false;
	}
	{% if content.data.check %}
	timer = -1;
	submitButton();
	{% else %}
	submitTimer();
	{% endif %}
</script>