{% from 'macros.html' import image_viewer %}
{% macro links() %}
<div id="project-links" class="panel">
	<h3>Links</h3>
	<ul class="list-unstyled">
		{% for link in content.data.links %}
		<li><a href="{{ link.url }}">{{ link.title }}</a></li>
		{% endfor %}
	</ul>
</div>
{% endmacro %}
{% macro files() %}
<div id="project-files" class="panel">
	<h3>Downloads</h3>
	{% for link in content.data.files %}
	<a class="btn btn-primary btn-block" href="{{ link.url }}">{{ link.title }}</a>
	{% endfor %}
</div>
{% endmacro %}
{% macro changelog() %}
<div class="panel">
	<h3>Changelog (Version {{ content.data.version }})</h3>
	<pre>{{ content.data.changelog | safe }}</pre>
	<button class="btn btn-primary">Older downloads and changelogs</button>
</div>
{% endmacro %}

{% if content.data.images %}{{ image_viewer(content.data.images) }}{% endif %}

<h2>
	{{content.data.name}} &nbsp;&nbsp;
	{% if content.data.version %}&nbsp;
	<small>Version: {{ content.data.version }}</small>
	{% endif %}
	{% if content.data.tags %}&nbsp;
	<small style="display: inline-block;">
		Tags:&nbsp;{% for tag in content.data.tags %} <a class="label label-default" href="{{ url_for('projects', tag=tag) }}">{{ tag }}</a>{% endfor %}
	</small>
	{% endif %}
</h2>
<div id="project-text">
	{{ content.data.text | safe }}
</div>
<br />

{% if content.data.links and content.data.files and not content.data.changelog %}
<div class="row">
	<div class="col-xs-12 col-sm-6">{{ links() }}</div>
	<div class="col-xs-12 col-sm-6">{{ files() }}</div>
</div>
{% elif content.data.links and not content.data.files and content.data.changelog %}
<div class="row">
	<div class="col-xs-12 col-sm-4">{{ links() }}</div>
	<div class="col-xs-12 col-sm-8">{{ changelog() }}</div>
</div>
{% elif not content.data.links and content.data.files and content.data.changelog %}
<div class="row">
	<div class="col-xs-12 col-sm-4">{{ files() }}</div>
	<div class="col-xs-12 col-sm-8">{{ changelog() }}</div>
</div>
{% elif content.data.links and content.data.files and content.data.changelog %}
<div class="row">
	<div class="col-xs-12 col-sm-6">{{ links() }}</div>
	<div class="col-xs-12 col-sm-6">{{ files() }}</div>
	<div class="col-xs-12 col-sm-12">{{ changelog() }}</div>
</div>
{% elif content.data.links %}
	{{ links() }}
{% elif content.data.files %}
	{{ files() }}
{% elif content.data.changelog %}
	{{ changelog() }}
{% endif %}